<script src="/js/textSearch.js" type="module"></script>
{{#unless user}}
<script src="/js/login.js" type="module"></script>
{{/unless}}

{{#if user}}
<script src="/js/addModal.js" type="module"></script>
{{/if}}
</body>
</html>